<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Novo Idoso</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="container">
        <h2>➕ Cadastrar Idoso</h2>

        <form method="post" class="form-grid">
            <input name="nome" placeholder="Nome do idoso" required>
            <input name="idade" type="number" placeholder="Idade" required>
            <input name="telefone" placeholder="Telefone +55..." required>
            <button class="btn" type="submit">Salvar</button>
        </form>
    </div>
</body>
</html>